<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UID42</key>
	<string>u-s4t2ud-ee004c68879409d211e7e55ede20fe54e95d09f44f6239eca0bcb3186d96158c</string>
	<key>SECRET42</key>
	<string>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</string>
</dict>
</plist>
